.App {
  color: rgb(50,50,50);
  min-height: fit-content;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  flex-wrap: wrap;
}

.welcome h1 {
  width: 100%;
  text-align: center;
  margin: 1%;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-btn {
  border: none;
  background-color: coral;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipes p, .recipes h1, .recipes h3, .recipes img {
  margin: 1%;
}